/*   nav bar   */
.header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
  border-bottom: 0.5px #555 solid;
  position: relative;
}
.home-link:link,
.home-link:visited {
  margin-left: 3.6rem;
  font-size: 3.6rem;
  font-weight: 700;
  color: #c8f188;
  transition: 0.3s;
}

.home-link:hover,
.home-link:active {
  color: #eafad2;
}

.nav-items {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  margin: 0 3.6rem 0 auto;
  list-style: none;
  gap: 2.4rem;
}
.nav-items a:link,
.nav-items a:visited {
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #d6f5a6;
  transition: all 0.3s;
}

.nav-items a:hover,
.nav-items a:active {
  color: #eafad2;
}

/* *********** */
/*  main page  */
/* *********** */

.home {
  width: 100rem;
  margin: 0 auto;
  height: 85vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 5fr 5fr;
  border-bottom: 0.5px #555 solid;
}

/* terminal window */
.terminal-container {
  max-width: 100%;
  height: 70%;
  min-height: 40rem;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin: auto 2.4rem 9.6rem 2.4rem;
  filter: blur(1px);
  transition: all 0.3s;
}

.terminal-container:hover,
.terminal-container:active {
  filter: none;
}

.terminal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  padding: 0.4rem 0.4rem;
  display: grid;
  background-color: #333;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.terminal-header-button {
  background-color: #333;
  display: flex;
  align-content: space-evenly;
  gap: 0.4rem;
}

.terminal-title {
  background-color: #333;
  justify-self: center;
  font-size: 1.2rem;
}

.btn {
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn:link,
.btn:visited {
  transition: all 0.3s;
}

.icon {
  background-color: #333;
}

.btn:hover.close,
.btn:active.close {
  color: #ff6666;
}

.btn:hover.hide,
.btn:active.hide {
  color: #ffd280;
}
.btn:hover.zoom,
.btn:active.zoom {
  color: #d6ff97;
}

.terminal-header-button .close {
  color: #ff1a1a;
}
.terminal-header-button .hide {
  color: #ffb733;
}
.terminal-header-button .zoom {
  color: #9ce62a;
}

.terminal-body {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  cursor: text;
  gap: 0.4rem;
  border-left: 1px #555 solid;
  border-right: 1px #555 solid;
  border-bottom: 1px #555 solid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.terminal-content {
  width: 100%;
  height: 100%;
}
.terminal-line {
  padding: 0.4rem;
}

/* terminal content */

.qa {
  color: #999;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.question {
  display: flex;
  gap: 0.4rem;
  align-content: center;
}

.prompt {
  color: aquamarine;
  margin-right: 0.8rem;
}

.arrow-icon {
  color: #9ce62a;
}
span p {
  line-height: 1.5;
}

.code-color-1 {
  color: #f4ab9b;
}

.code-color-2 {
  color: #bbcaa5;
}

.code-color-3 {
  color: #ffe38a;
}

.code-color-4 {
  color: #a6dffe;
}

.code-color-5 {
  color: #db7ecd;
}

/* intro */
.introduction {
  grid-column: 2/3;
  align-self: end;
  margin: auto 3.2rem 9.6rem 3.2rem;
  grid-row: 1/2;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #676767;
  transition: all 0.3s;
}

.terminal-container:hover + .introduction {
  filter: blur(1px);
}

.myname {
  display: inline-block;
  color: #baee6a;
  font-size: 3.6rem;
  font-weight: 400;
  align-self: center;
  letter-spacing: 0.2rem;
  margin-bottom: 6.4rem;
}

.summary {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.icon-contact {
  width: 2.4rem;
  height: 2.4rem;
  color: #9ce62a;
}

/* *********** */
/*  TimeLine  */
/* *********** */
#part2-experience {
  height: 100vh;
  border-bottom: 0.5px #555 solid;
  background-size: 100%;
  background-size: 100px 100px;
}

.timeline-container {
  width: 100rem;
  margin: 3.2rem auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.chart {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.timeline-header {
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* Timeline - Years */
.timelines-years {
  padding: 0 2rem;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #edf7ca 0%, #bbe7fa 100%);
  list-style: none;
}

.timelines-years li {
  display: inline-block;
  width: 20rem;
  color: #c571b9;
  font-size: 1.2rem;
  text-indent: -0.8rem;
}

/* Display last year */
.timelines-years li:last-child {
  width: 1.2rem;
}

/* Timeline - Events */
.timeline-events {
  padding: 0;
  list-style: none;

  white-space: nowrap;
  /* Fix display: inline-block spacing issue */
  font-size: 0;
}

.timeline-events h2,
.timeline-events h3,
.timeline-events h4 {
  margin: 0 0 1px 0;
  font-weight: normal;
  font-size: 11px;
}

.timeline-events h2 {
  color: white;
  text-transform: uppercase;
}

.timeline-events h4 {
  color: #fff;
  font-style: italic;
}

.timeline-events li {
  position: relative;
  display: inline-block;
}

.timeline-events li:before {
  position: absolute;
  left: 7rem;
  bottom: -3.6rem;
  height: 1rem;
  border-radius: 6px;
  content: "";
}

.timeline-events li:nth-child(1) {
  bottom: 0px;
}

.timeline-events li:nth-child(2) {
  bottom: 16px;
}

.timeline-events li:nth-child(3) {
  bottom: 32px;
}

.timeline-events li:nth-child(4) {
  bottom: 48px;
}

.timeline-events li:nth-child(5) {
  bottom: 64px;
}

/* Timeline - Events - Colours */
/* Grey/Green */
.timeline-events li:nth-child(1):before {
  background: #c2e34e;
  background-image: linear-gradient(to right, #868686 0%, #c2e34e 100%);
  border-radius: 6px;
}

.timeline-events li:nth-child(1) h3 {
  color: #c2e34e;
}

/* Orange */
.timeline-events li:nth-child(2):before {
  background: #ff9704;
  background-image: linear-gradient(to right, #868686 0%, #ff9704 100%);
}

.timeline-events li:nth-child(2) h3 {
  color: #ff9704;
}

/* Blue */
.timeline-events li:nth-child(3):before {
  background: #56c2f3;
  background-image: linear-gradient(to right, #868686 0%, #56c2f3 100%);
}

.timeline-events li:nth-child(3) h3 {
  color: #56c2f3;
}

/* Timeline - Events - Grid */
/* X years */
.timeline-event-years-0,
.timeline-event-years-0:before {
  width: 0;
}

/* X.5 years */
.timeline-event-years-0-5,
.timeline-event-years-0-5:before {
  width: 2.5rem;
}

/* X years */
.timeline-event-years-1,
.timeline-event-years-1:before {
  width: 5rem;
}

/* X.5 years */
.timeline-event-years-1-5,
.timeline-event-years-1-5:before {
  width: 7.5rem;
}

/* X years */
.timeline-event-years-2,
.timeline-event-years-2:before {
  width: 10rem;
}

/* X.5 years */
.timeline-event-years-2-5,
.timeline-event-years-2-5:before {
  width: 12.5rem;
}

/* X years */
.timeline-event-years-3,
.timeline-event-years-3:before {
  width: 15rem;
}

/* X.5 years */
.timeline-event-years-3-5,
.timeline-event-years-3-5:before {
  width: 17.5rem;
}

/* X years */
.timeline-event-years-4,
.timeline-event-years-4:before {
  width: 20rem;
}

/* X.5 years */
.timeline-event-years-4-5,
.timeline-event-years-4-5:before {
  width: 22.5rem;
}

/* X years */
.timeline-event-years-5,
.timeline-event-years-5:before {
  width: 25rem;
}

/* X.5 years */
.timeline-event-years-5-5,
.timeline-event-years-5-5:before {
  width: 27.5rem;
}

/* X years */
.timeline-event-years-6,
.timeline-event-years-6:before {
  width: 30rem;
}

/* X.5 years */
.timeline-event-years-6-5,
.timeline-event-years-6-5:before {
  width: 32.5rem;
}

/* X years */
.timeline-event-years-7,
.timeline-event-years-7:before {
  width: 35rem;
}

/* X.5 years */
.timeline-event-years-7-5,
.timeline-event-years-7-5:before {
  width: 37.5rem;
}

/* X years */
.timeline-event-years-8,
.timeline-event-years-8:before {
  width: 40rem;
}

/* X.5 years */
.timeline-event-years-8-5,
.timeline-event-years-8-5:before {
  width: 42.5rem;
}

/* X.5 years */
.timeline-event-years-9,
.timeline-event-years-9:before {
  width: 50rem;
}
