.section1 {
  width: 100rem;
  height: 100vh;
  margin: 0 auto;
  min-height: 55rem;
}
/*   nav bar   */
.header {
  margin: 1rem auto;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
  border-bottom: 1px #555 solid;
}
.home-link:link,
.home-link:visited {
  font-size: 3.6rem;
  font-weight: 700;
  color: #c8f188;
  transition: 0.3s;
}

.home-link:hover,
.home-link:active {
  color: #eafad2;
}

.nav-items {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  list-style: none;
  gap: 2.4rem;
}
.nav-items a:link,
.nav-items a:visited {
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #d6f5a6;
  transition: all 0.3s;
}

.nav-items a:hover,
.nav-items a:active {
  color: #eafad2;
}

/* *********** */
/*  main page  */
/* *********** */

.home {
  display: grid;
  align-items: end;
  justify-content: center;
  grid-template-columns: 50rem 1fr;
  border-bottom: 0.5px #555 solid;
  row-gap: 5rem;
}

/* terminal window */
.terminal-container {
  margin-bottom: 5rem;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 70%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  filter: blur(1px);
  transition: all 0.3s;
}

.terminal-container:hover,
.terminal-container:active {
  filter: none;
}

.terminal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  padding: 0.4rem 0.4rem;
  display: grid;
  background-color: #333;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.terminal-header-button {
  background-color: #333;
  display: flex;
  align-content: space-evenly;
  gap: 0.4rem;
}

.terminal-title {
  background-color: #333;
  justify-self: center;
  font-size: 1.2rem;
}

.btn {
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn:link,
.btn:visited {
  transition: all 0.3s;
}

.icon {
  background-color: #333;
}

.btn:hover.close,
.btn:active.close {
  color: #ff6666;
}

.btn:hover.hide,
.btn:active.hide {
  color: #ffd280;
}
.btn:hover.zoom,
.btn:active.zoom {
  color: #d6ff97;
}

.terminal-header-button .close {
  color: #ff1a1a;
}
.terminal-header-button .hide {
  color: #ffb733;
}
.terminal-header-button .zoom {
  color: #9ce62a;
}

.terminal-body {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  cursor: text;
  gap: 0.4rem;
  border-left: 1px #555 solid;
  border-right: 1px #555 solid;
  border-bottom: 1px #555 solid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.terminal-content {
  width: 100%;
  height: 100%;
}
.terminal-line {
  padding: 0.4rem;
}

/* terminal content */

.qa {
  color: #999;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.question {
  display: flex;
  gap: 0.4rem;
  align-content: center;
}

.prompt {
  color: aquamarine;
  margin-right: 0.8rem;
}

.arrow-icon {
  color: #9ce62a;
}
span p {
  line-height: 1.5;
}

.code-color-1 {
  color: #f4ab9b;
}

.code-color-2 {
  color: #bbcaa5;
}

.code-color-3 {
  color: #ffe38a;
}

.code-color-4 {
  color: #a6dffe;
}

.code-color-5 {
  color: #db7ecd;
}

/* intro */
.introduction {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: end;
  margin-left: 5rem;
  margin-bottom: 5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #676767;
  transition: all 0.3s;
}

.terminal-container:hover + .introduction {
  filter: blur(1px);
}

.myname {
  display: inline-block;
  color: #baee6a;
  font-size: 3.6rem;
  font-weight: 400;
  align-self: center;
  letter-spacing: 0.2rem;
  margin-bottom: 6.4rem;
}

.summary {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.contact-info {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.icon-contact {
  width: 2.4rem;
  height: 2.4rem;
  color: #9ce62a;
}

/* *********** */
/*  TimeLine  */
/* *********** */
#part2-experience {
  width: 100rem;
  margin: 0 auto;
  border-bottom: 0.5px #555 solid;
}

.timeline-container {
  width: 100rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.timeline-header {
  font-size: 3.2rem;
  font-weight: 300;
  color: #9ce62a;
  letter-spacing: 0.6rem;
  align-self: flex-start;
  text-transform: uppercase;
}
.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding-top: 4rem;
  gap: 10rem;
  background: repeating-linear-gradient(
    to right,
    transparent 0 20px,
    #676767 9.9rem,
    #5d5d5d 10rem
  );
}

/* Timeline - Years */
.timelines-years {
  width: 100rem;
  border-radius: 6px;
  display: flex;
  background-image: linear-gradient(to right, #edf7ca 0%, #bbe7fa 100%);
  list-style: none;
}

.timelines-years li {
  display: inline-block;
  width: 10rem;
  color: #c571b9;
  font-size: 1.2rem;
  text-align: center;
}

/* Timeline - Events */
.timeline-events,
.timeline-events-work {
  width: 100rem;
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.timeline-events h2,
.timeline-events h3,
.timeline-events h4 {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

.timeline-events-work h2,
.timeline-events-work h3,
.timeline-events-work h4 {
  width: 15rem;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

.timeline-events h2,
.timeline-events-work h2 {
  color: white;
  text-transform: uppercase;
}

.timeline-events h4,
.timeline-events-work h4 {
  color: #fff;
}

.timeline-events li,
.timeline-events-work li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-events li:before,
.timeline-events-work li:before {
  height: 1rem;
  border-radius: 6px;
  content: "";
}

.timeline-events li:nth-child(1) {
  margin-left: 7rem;
}

.timeline-events li:nth-child(2) {
  margin-bottom: 1rem;
  margin-left: 4rem;
}

/* Timeline - Events - Colours */
.timeline-events li:nth-child(1):before {
  background: #c2e34e;
  background-image: linear-gradient(to right, #868686 0%, #c2e34e 100%);
}

.timeline-events li:nth-child(1) h3 {
  color: #c2e34e;
}

.timeline-events li:nth-child(2):before {
  background: #ff9704;
  background-image: linear-gradient(to right, #868686 0%, #ff9704 100%);
}

.timeline-events li:nth-child(2) h3 {
  color: #ff9704;
}

.timeline-events-work li:nth-child(1) {
  margin-left: 39rem;
}

.timeline-events-work li:nth-child(2) {
  margin-bottom: 1rem;
  margin-left: 7rem;
}

.timeline-events-work li:nth-child(3) {
  margin-bottom: 3.5rem;
}

/* Timeline - Work - Colours */
.timeline-events-work li:nth-child(1):before {
  background: #c2e34e;
  background-image: linear-gradient(to right, #868686 0%, #c2e34e 100%);
}

.timeline-events-work li:nth-child(1) h3 {
  color: #c2e34e;
}

/* Orange */
.timeline-events-work li:nth-child(2):before {
  background: #ff9704;
  background-image: linear-gradient(to right, #868686 0%, #ff9704 100%);
}

.timeline-events-work li:nth-child(2) h3 {
  color: #ff9704;
}

/* Blue */
.timeline-events-work li:nth-child(3):before {
  background: #56c2f3;
  background-image: linear-gradient(to right, #868686 0%, #56c2f3 100%);
}

.timeline-events-work li:nth-child(3) h3 {
  color: #56c2f3;
}
/* Timeline - - Grid */
/* X years */
.timeline-event-years-bs,
.timeline-event-years-bs:before {
  width: 38rem;
}

.timeline-event-years-ms,
.timeline-event-years-ms:before {
  width: 20rem;
}

.timeline-event-years-ra1,
.timeline-event-years-ra1:before {
  width: 9rem;
}

.timeline-event-years-ra2,
.timeline-event-years-ra2:before {
  width: 14rem;
}

.timeline-event-years-tu,
.timeline-event-years-tu:before {
  width: 11rem;
}

/* *********** */
/*  Projects  */
/* *********** */

#part3-projects {
  width: 100rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px #555 solid;
  gap: 5rem;
  color: #fff;
}
.projects-header {
  font-size: 3.2rem;
  font-weight: 300;
  color: #9ce62a;
  letter-spacing: 0.6rem;
  align-self: flex-start;
  text-transform: uppercase;
}
.projects-container {
  display: grid;
  width: 80rem;
  grid-template-columns: 20rem 1fr;
  margin-bottom: 10rem;
}
.projects-year {
  grid-column: 1/-1;
  margin-top: 2rem;
  padding: 2rem 18rem;
  font-size: 2.4rem;
  font-weight: 300;
  color: #e1e1e1;
}

.projects-time {
  grid-column: 1/2;
  justify-self: end;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 300;
  position: relative;
}
.clock-icon {
  position: absolute;
  top: 0;
  right: -9%;
  width: 2rem;
  padding-top: 1rem;
  background-color: #676767;
}
.projects-content {
  grid-column: 2/3;
  padding-left: 2rem;
  border-left: 2px #868686 solid;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.projects-type {
  margin-bottom: 1.6rem;
}
.tag {
  padding: 0.4rem 1rem;
  color: #666666;
  border-radius: 9px;
  font-size: 1rem;
  font-weight: 600;
}

.web {
  background-color: #ffa11d;
}
.web:link,
.web:visited {
  transition: all 0.3s;
}

.web:hover,
.web:active {
  cursor: pointer;
  background-color: #ffb64f;
}

.backend {
  background-color: #56c2f3;
}
.backend:link,
.backend:visited {
  transition: all 0.3s;
}

.backend:hover,
.backend:active {
  cursor: pointer;
  background-color: #89d4f7;
}

.ml {
  background-color: #b0eb55;
}
.ml:link,
.ml:visited {
  transition: all 0.3s;
}

.ml:hover,
.ml:active {
  cursor: pointer;
  background-color: #cef395;
}

.image-processing {
  background-color: #db7ecd;
}
.image-processing:link,
.image-processing:visited {
  transition: all 0.3s;
}

.image-processing:hover,
.image-processing:active {
  cursor: pointer;
  background-color: #e6a5dc;
}

.projects-name {
  margin-bottom: 1.2rem;
}
.projects-name h3 {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.tech-stack {
  font-size: 1rem;
  font-weight: 600;
  color: #676767;
  width: 20rem;
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.8rem;
}

.tech-stack img {
  border-radius: 6px;
  height: 1.6rem;
  width: auto;
}

.projects-details {
  margin: 1.2rem 0;
  width: 50rem;
}

.projects-details p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4;
  height: 5rem;
  overflow: hidden;
  position: relative;
}

.expand-collapse {
  width: 100%;
  position: relative;
  font-size: 1.4rem;
  font-weight: 200;
}

.fade {
  content: "";
  position: absolute;
  display: block;
  height: 2rem;
  width: 100%;
  left: 0;
  top: -170%;
  background: linear-gradient(
    to bottom,
    rgba(100, 100, 100, 0) 0%,
    #676767 75%
  );
}
.expand-collapse button {
  border: none;
  border-bottom: 1px #ffb64f solid;
  padding: 0;
  background: none;
  color: #ffb64f;
  display: none;
}
.show-active {
  display: inline-block !important;
}

.expand-collapse .more:link,
.expand-collapse .more:visited,
.expand-collapse .less:link,
.expand-collapse .less:visited {
  transition: all 0.3s;
}

.expand-collapse .more:hover,
.expand-collapse .more:active,
.expand-collapse .less:hover,
.expand-collapse .less:active {
  color: #ffcb82;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 3rem;
}
.footer h2 {
  font-size: 1.2rem;
  font-weight: 300;
}
.section {
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
